// Colours partial

// Text colours

$white: #ffffff;
$black: #000000;
$slate: #414A52;
$light-slate: #5E6265;
$light-grey: #F4F6F9;
$dark-grey: #8A9097;
$cyan: #91D4D8;
$dark-cyan: #69C9CD;
$porcelain: #E5E7E9;
$orange: #d66a52;
$green: #57C0A2;
$dark-green: #499f87;
